@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.event-card {
  width: 90%;
  font-size: 0.75rem;
  display: flex;
  margin: auto;
  align-items: center;
  border-radius: 0.5rem;
  background-color: white;
  padding: 1rem;
  @include tablet {
    width: 60%;
  }
  @include desktop {
    width: 50%;
  }

  &__image-wrapper {
    display: flex;
  }

  &__image {
    width: 105px;
    height: 105px;
    object-fit: cover;
    flex-shrink: 0;
    border: 1px solid $cta-color;
    border-radius: 0.5rem;
  }
  &__info {
    display: flex;
    color: $background-color-dark;
    flex-direction: column;
    padding-left: 0.5rem;
    margin: auto;
    align-items: center;
  }
//   &__name {
//   }
  &__location {
    display: flex;
  }
  &__location-icon {
    padding-right: 0.5rem;
  }
}
