@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.userinfo{
    width: 65%;
    font-family:$text-font;
    display: flex;
    flex-direction: column;
    // border: 1px solid $background-color-dark;
    border-radius: 1.5rem;
    margin-top: 1rem;
    margin-left: 2rem;
    @include desktop {
        font-size: 1.2rem;
        padding: 2rem 1.5rem;
      }


&__name-wrapper{
    display: flex;
    align-items: center;
    margin: 1rem 0 1rem 2rem;
}
&__avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    border: 1px solid #ee3d96;
    background-color: $cta-color;
    margin-right: 1rem;
}

   
    &__phone-wrapper {
        display: flex;
        margin: 0rem 0 1rem 2rem;
    }
    &__phone-title {
        padding-right:1rem;
    }
    &__phone-content{

    }
    &__email-wrapper{
        display: flex;
        margin: 0rem 0 1rem 2rem;
    }

    &__email-title {
        padding-right:1rem;
    }
    &__email-content {
        
    }


    
}