@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.navbar-vertical {
    width: 100vw;
    height: $mobile-screen-height;
    background-color: $background-color-dark;
    position: absolute;
    top: 4rem;
    left: 0;
    text-decoration: none;
    // border: .0625rem solid $text-color;
    &__no-text-decoration {
        // font-family: $title-font;
        color: $cta-color;
        text-decoration: none;
        
    }
}

.hidden {
    display: none;
}





.logo-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 6rem;
}

.instagram-logo {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.facebook-logo {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.youtube-logo {
    width: 2rem;
    height: 2rem;
}

.close-icon {
    width: 2rem;
    height: 2rem;
    position: relative;
    top: 1rem;
    left: 20rem;
    cursor: pointer;
}
