@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.navbar-vertical {
    width: 100vw;
    height: 100vh;
    background-color: $background-color-dark;
    position: absolute;
    top: 4rem;
    left: 0;
    // border: .0625rem solid $text-color;
}

.hidden {
    display: none;
}



ul {
    font-family: $cta-font;
    font-size: 0.7rem;
    list-style: none;
    color: $text-color;
    text-transform: uppercase;
    text-align: center;
    line-height: 2rem;
    padding: 2rem 0rem;
    text-decoration: none;
}

li {
    cursor: pointer;
    text-decoration: none;
}

.logo-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 6rem;
}

.instagram-logo {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}

.facebook-logo {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}

.youtube-logo {
    width: 1.5rem;
    height: 1.5rem;
}

.close-icon {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    top: 1rem;
    left: 15rem;
    cursor: pointer;
}
