@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.navbar-vertical {
    width: 100vw;
    height: $mobile-screen-height;
    // font-weight: 700;
    background-color: $background-color-dark;
    position: absolute;
    top: 4rem;
    left: 0%;
    // left: 0;
    text-decoration: none;
    transition: left 0.5s ease;
    text-transform: uppercase;
    &__no-text-decoration {
        color: $cta-color;
        text-decoration: none;     
    }
    &__admins {
        font-size: 1rem;
        font-family: $text-font;
        margin: auto;
    }
}

.navbar-vertical.slide-in {
    left: -100%;
  }

.hidden {
    display: none;
}

.logo-admins-wrapper{
    display: flex;
    flex-direction: column;
    
}

.logo-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 5rem;
}

.instagram-logo {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.facebook-logo {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.youtube-logo {
    width: 2rem;
    height: 2rem;
}

.close-icon {
    width: 2rem;
    height: 2rem;
    position: relative;
    top: 1rem;
    left: 20rem;
    cursor: pointer;
}
