@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.hero {
    display: flex;
    // justify-content: center;
    width: 20rem;
    height: auto;
    // background-color: $background-color-dark;
    &__image {
        object-fit: cover;

    }
}

//TODO: backgroud how to add it to be black to be responsive