@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.memberpage {
    width: 100%;
    height: $mobile-screen-height;
    background-color: $cta-color;
    font-family: $title-font;
    font-size: 1.3rem;
    &__logo-wrapper{

    }
    &__logo {
        display: flex;
        margin: auto;
        width: 140px;
        height: auto;
        padding: 1rem;
    }
    &__sub-wrapper{
        display: flex;
        flex-direction: column;
        padding-top: 0rem;
    }
    &__join{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 3rem;
    }
    &__signin{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__join-text {
        padding-bottom: 1rem;
    }
    &__signin-text {
        padding-bottom: 1rem;
    }
}
