@use './typography';

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$background-color-dark: #000000;
$background-color-light: #ffffff;
$cta-color: #D9D9D9;
$highlight-color: #ff1694;
$title-font: 'Rye';
$text-font: 'Lora';
$mobile-screen-width: 430px;
$mobile-screen-height: 836px;





//add theme colors: black and pink and white