@use './typography';

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$background-color-dark: #000000;
$background-color-light: #ffffff;
$text-color: #ff1694;
$title-font: 'Monoton';
//'Tilt Prism', 'Monoton'
$cta-font: 'Press Start 2P';
// $text-color: #ffc0cb;





//add theme colors: black and pink and white