@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.adminpage{
    width: 100%;
    min-height: 932px;
    background-color: $cta-color;
    &__title {
        font-family: $title-font;
        text-transform: uppercase;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 2rem;
    }
    &__title-2 {
        font-family: $title-font;
        text-transform: uppercase;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-left: 2rem;
    }
}