@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2rem;
    font-family: $title-font;
    font-size: 1rem;
    color: $cta-color;
    background-color: $background-color-dark;
    text-align: center;
}